<h2><%= @params[:team][:name] %></h2>
<h4>Team Motto: <%= @params[:team][:motto] %></h4>

<h4>Hero Name: <%= @params[:team][:members][0][:name] %><h4>
<h4>Hero Power: <%= @params[:team][:members][0][:power] %><h4>
<h4>Hero Biography: <%= @params[:team][:members][0][:bio] %><h4>

<h4>Hero Name: <%= @params[:team][:members][1][:name] %><h4>
<h4>Hero Power: <%= @params[:team][:members][1][:power] %><h4>
<h4>Hero Biography: <%= @params[:team][:members][1][:bio] %><h4>

<h4>Hero Name: <%= @params[:team][:members][2][:name] %><h4>
<h4>Hero Power: <%= @params[:team][:members][2][:power] %><h4>
<h4>Hero Biography: <%= @params[:team][:members][2][:bio] %><h4>
